<mat-nav-list>
  <!-- <div class="profile-card">
    <div class="header">
      <br>
      <h2 style="margin-top:20px">Hi Admin</h2>
    </div>
  </div> -->


  <h2 matSubheader>trang</h2>
  <mat-divider></mat-divider>
  <a mat-list-item  routerLinkActive="list-item-active" routerLink="/main/dashboard"
    >Quản lí chung</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/users"
    >Quản lí người dùng</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/suppliers"
    >Quản lí nhà cung cấp</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/accessories"
    >Quản lí linh kiện</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/orders"
    >Quản lí đơn hàng</a
  >

  <!-- <mat-divider></mat-divider>
  <h2 matSubheader>công cụ</h2>  <mat-icon>question_answer</mat-icon>-->


</mat-nav-list>
