<mat-toolbar
  style="
    height: 32px;
    width: 20%;
    background-color: rgb(209, 209, 209);
    margin-bottom: 80px;
  "
>
  <mat-label class="fill-remaining-space" style="font-size: 16px"
    >Sửa nhà cung cấp</mat-label
  >
</mat-toolbar>
<mat-card>
  <div class="container" novalidate>
    <form
      [formGroup]="formGroup"
      class="form"
      fxLayout="flex"
      fxLayoutGap="20px"
    >
      <div class="left">
        <mat-form-field class="form-element">
          <input matInput placeholder="Tên" formControlName="name" />
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Số điện thoại" formControlName="phone" />
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Link" formControlName="link" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" style="margin-left: 8px">
          <mat-label>Trạng thái</mat-label>
          <mat-select formControlName="status">
            <mat-option value="active"> active </mat-option>
            <mat-option value="deactive"> deactive </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-element">
          <button
            mat-raised-button
            color="primary"
            (click)="edit()"
            class="button"
            [disabled]="!formGroup.valid"
          >
            SỬA
          </button>
        </div>
      </div>
    </form>
    <a class="back-icon" routerLink="/main/suppliers"
      ><mat-icon>arrow_back</mat-icon></a
    >
  </div>
</mat-card>
