<mat-toolbar
  style="height: 32px; width: 20%; background-color: rgb(209, 209, 209);margin-bottom:80px;"
>
  <mat-label class="fill-remaining-space" style="font-size: 16px"
    >Thêm nhà cung cấp</mat-label
  >
</mat-toolbar>
<mat-card>
  <div class="container" novalidate>
    <form
      [formGroup]="formGroup"
      class="form"
      fxLayout="flex"
      fxLayoutGap="20px"
    >
      <div class="left">
        <mat-form-field class="form-element">
          <input matInput placeholder="Tên" formControlName="name" />
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Số điện thoại" formControlName="phone" />
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Link" formControlName="link" />
        </mat-form-field>

        <div class="form-element">
          <button
            mat-raised-button
            color="primary"
            (click)="add()"
            class="button"
            [disabled]="!formGroup.valid"
          >
            THÊM
          </button>
        </div>
      </div>
    </form>
    <a class="back-icon" routerLink="/main/suppliers"
      ><mat-icon>arrow_back</mat-icon></a
    >
  </div>
</mat-card>
